jupyter==1.0.0
nb_black==1.0.7
numpy==1.21.4
pandas==1.3.4
scikit-learn==1.0.1
imbalanced-learn==0.8.1
matplotlib==3.5.0
seaborn==0.11.2
lxml==4.6.4
python-dotenv==0.19.2
geopy==2.2.0
rtree==0.9.7
pygeos==0.11.1
geopandas==0.10.2
pymysql==1.0.2
sqlalchemy==1.4.27
azure-storage-blob==12.9.0
